:root {
    /*SPACING*/
   --spacing-base-size: 1em;
   --spacing-scale-ratio: 1.5;

   --spacing-xs: calc((var(--spacing-base-size)/var(--spacing-scale-ratio)));
   --spacing-sm: var(--spacing-base-size);
   --spacing-md: calc(var(--spacing-base-size) * var(--spacing-scale-ratio));
   --spacing-lg: calc(var(--spacing-base-size)* var(--spacing-scale-ratio) * var(--spacing-scale-ratio));
   --spacing-xl: calc(var(--spacing-base-size) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio));
   --spacing-xxl: calc(var(--spacing-base-size) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio));
   --spacing-xxxl: calc(var(--spacing-base-size) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio));
   --spacing-xxxxl: calc(var(--spacing-base-size) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio));
   --spacing-xxxxxl: calc(var(--spacing-base-size) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio));
   --spacing-xxxxxxl: calc(var(--spacing-base-size) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio));

   /*COLOURS*/
   --colour-callout: #F8F8F7;
   --colour-bg: #212121;
   --colour-text: #FFFFFF;
}




/*FONT*/
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nYivNm4I81PZQ.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
/* cyrillic */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nRivNm4I81PZQ.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
  /* greek */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nWivNm4I81PZQ.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
  /* latin-ext */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nbivNm4I81PZQ.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
  
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nVivNm4I81.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}




/*SET UP*/
* {
    margin: 0px;
    padding: 0px;
}

body, input, button {
    font-size: 10px;
    line-height: 1.5rem;

    font-family: "Press Start 2P";
    letter-spacing: 0.1em;

    background-color: var(--colour-bg);
    color:var(--colour-text);
    
    /*Makes foot rendering more similar to Figma display*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    cursor: url(images/cursor-default.png), pointer;

}

a, .tabs, .grabber {
    cursor: url(images/cursor-grabber.png), pointer;
}




/* TYPES */

.green {
    color: chartreuse;
    animation-fill-mode: both;
}

.red {
    color: red;
    animation: flashing 1s 9;
    animation-fill-mode: both;
}

@keyframes flashing {
   0% { opacity: 1 }
   50% { opacity: 0 }
   100% { opacity: 1 }
}


/*LAYOUT*/
.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-row > * {
    margin-right: 1em;
}

.flex-row > .demo {
    margin-right: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap > div > p {
    min-width: 30%;
}


/*Flex Spacing*/
.space-between {
    justify-content: space-between;
}


/*Align*/
.align-right {
    float: right;
}

.align-centre {
    margin: 0 auto 0 auto;
}

.align-centre-vertical {
    margin: auto 0 auto 0;
}

.justify-centre {
    justify-content: center;
}

.align-left {
    margin-right: 0;
    margin-left: auto;
}

.align-top {
    margin-top: 0;
    margin-bottom: auto;
}




/*MARGINS*/
/* Sidex: margin left and right*/
.margin-sides-sm {
    margin: 0 var(--spacing-xs) 0 var(--spacing-xs);
}  

.margin-sides-sm {
    margin: 0 var(--spacing-sm) 0 var(--spacing-sm);
} 

.margin-sides-md {
    margin: 0 var(--spacing-md) 0 var(--spacing-md);
} 

.margin-sides-lg {
    margin: 0 var(--spacing-lg) 0 var(--spacing-lg);
} 

.margin-sides-xl {
    margin: 0 var(--spacing-xl) 0 var(--spacing-xl);
}

.margin-sides-xxl {
    margin: 0 var(--spacing-xxl) 0 var(--spacing-xxl);
}

.margin-sides-xxxl {
    margin: 0 var(--spacing-xxxl) 0 var(--spacing-xxxl);
}


/* Top*/
.margin-top-sm {
    margin-top: var(--spacing-sm);
}

.margin-top-md {
    margin-top: var(--spacing-md);
}

.margin-top-xxl {
    margin-top: var(--spacing-xxl);
}

/* Bottom */
.margin-bottom-lg {
    margin-bottom: var(--spacing-lg);
}

.margin-bottom-xl {
    margin-bottom: var(--spacing-xl);
}

.margin-bottom-xxl {
    margin-bottom: var(--spacing-xxl);
}

/*left*/
.margin-left-xxl {
    margin-left: var(--spacing-xxl);
}

.margin-left-xl {
    margin-left: var(--spacing-xl);
}

.margin-left-lg {
    margin-left: var(--spacing-lg);
}

/* Top and Bottom */
.margin-tb-xl {
    margin: 0 var(--spacing-xl) 0 var(--spacing-xl);
}

.margin-tb-xxxl {
    margin: 0 var(--spacing-xxxl) 0 var(--spacing-xxxl);
}




/*PADDING*/
/* Sides: padding left and right*/
.padding-sides-sm {
    padding: 0 var(--spacing-xs) 0 var(--spacing-xs);
}  

.padding-sides-sm {
    padding: 0 var(--spacing-sm) 0 var(--spacing-sm);
} 

.padding-sides-md {
    padding: 0 var(--spacing-md) 0 var(--spacing-md);
} 

.padding-sides-lg {
    padding: 0 var(--spacing-lg) 0 var(--spacing-lg);
} 

.padding-sides-xl {
    padding: 0 var(--spacing-xl) 0 var(--spacing-xl);
}

/* All sides */
.padding-sm {
    padding: var(--spacing-xs);
}  

.padding-sm {
    padding: var(--spacing-sm);
} 

.padding-md {
    padding: var(--spacing-md);
} 

.padding-lg {
    padding: var(--spacing-lg);
} 

.padding-xl {
    padding: var(--spacing-xl);
}





/*GAPS*/
.gap-none {
    gap:0;
}

.gap-xs {
    gap:var(--spacing-xs);
}

.gap-sm {
    gap:var(--spacing-sm);
}

.gap-md {
    gap:var(--spacing-md);
}

.gap-lg {
    gap:var(--spacing-lg);
}

.gap-xl {
    gap:var(--spacing-xl);
}

.gap-xxl {
    gap:var(--spacing-xxl);
}

.gap-xxxl {
    gap:var(--spacing-xxxl);
}




/*IMAGES*/
.standard-img {
    width: 100%;
    max-width: 900px;
}

.regular-img {
    object-fit: cover;
}

.scale-img {
    object-fit: scale-down;
}

.cover-img {
    object-fit: cover;
}

.small-img {
    max-width: 10vw;
}

.portrait-img {
    max-width: 300px;
}

.lg-image-max {
    max-width: 850;
}



.narrow-img-div {
    flex: 20%;
    max-width: 350px;
    align-items: center;
    min-width: 200px;
}

.img-div {
    flex: 30%;
    min-width: 30vw;
    align-items: center;
}

.wide-img-div {
    flex: 40%;
    min-width: 40vw;
}

.narrow-img-div > img, .img-div > img, .wide-img-div > img {
    width: 100%;
}


.flex-div-small {
    width: 30%;
}

.flex-div-half {
    width: 50%;
}




/*HTML TAGS*/
li{
    margin-left:var(--spacing-md);
}

ol > li {
    margin-left:var(--spacing-xxl); 
}

a {
    color: var(--colour-text);
    text-decoration-line: none;
}

a:hover {
    text-decoration: none;
}

iframe {
    border: none;
    padding: 0;

    display: block;
    overflow: hidden;
}




/*MAX WIDTH*/
.text-wrapper-sm {
    max-width: 40%;
    margin: auto;
    align-items: center;
}

.text-wrapper-xs {
    max-width: 30%;
    margin: auto;
    align-items: center;
}




/*TYPE*/
.no-textdecoration {
    text-decoration: none;
}

.no-textdecoration:hover {
    text-decoration: none;
}




/* CUSTOM LAYOUTS */
.full-screen {
    min-height: 100vh;
    max-height: 100vh;
}

.full-height {
    min-height: 100vh;
}

.full-width {
    min-width: 100%;
}

.frame-sm {
    max-width: 70%;
    margin: auto;
    align-items: center;
}





ol {
    -webkit-column-count: 2;
    column-count: 2;
}

.two-columns > * {
    max-width: 50%;
    min-width: 30%;
}


/* WIDTH */
.fit-content {
    width:fit-content;
}







/* HOME PAGE */
.slide {
    display: none;
    border: 1px solid white;
}

.row {
    width: 100%;
    overflow-x: scroll;
}

.row::-webkit-scrollbar {
    display: none;
}





/* WEEK PAGE */
.titles {
    width: fit-content;
    height: fit-content;
    padding: 0.3em 1em 0.3em 1em;

    border: 1px solid white;
    border-bottom: 0;
    border-radius: 0.5em 0.5em 0 0;

    text-decoration: underline;
    cursor: grab;
}

.tab {
    padding: 1em 0 0 0;
}

.tab:not(:first-child){
    border: 1px solid whitesmoke;
    border-bottom: none;
    border-radius: 0.5em 0.5em 0 0;
}

.content {
    display: none;
    padding: 1em 1.5em 1em 1.5em;
    border: 1px solid whitesmoke;
    border-bottom: none;
    border-radius: 0.5em 0.5em 0 0;
}

.content:last-child {
    border-bottom:  1px solid whitesmoke;
}

.final-tab {
    border: 1px solid whitesmoke;
    border-radius: 0.5em;
    flex: 1;
    padding: 1em;
}

.icon-file {
    width: 90px;
}

.icon-folder {
    width: 95px;
}

.icon-arrow {
    width: 40px;
}

.icon-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.icon-component {
    height: 70px;
    width: auto;
}



/*VISIBILITY*/
.hidden {
    visibility: hidden;
}

.no-display {
    display: none;
}




/* HOVER */
.icon-container:hover > .icon-label {
    visibility: visible;
}

.icon-container> .icon-label {
    visibility: hidden;
}





/* CSS ANIMATION */
@keyframes expandWidth {
    from { width: 0%; }
    to { width: 100%; }
}  

.progress-div {
    width: 40vw;
    height: 1.75vh;
    margin: 0;
} 

.progress-container {
    padding: 0.25rem;
    border: 1px solid whitesmoke;
    width: fit-content;
}

.progress-bar {
    background-color: white;
    height: 100%;
    /* animation: expandWidth 4s ease-in-out 1; */
}

.veryslow {
    animation: expandWidth 5s ease-in-out 1;
}

.slow {
    animation: expandWidth 4s ease-in-out 1;
}

.average {
    animation: expandWidth 3s ease-in-out 1;
}

.repeat {
    animation: expandWidth 4s ease-in-out infinite;
}


/* MODAL */
.modal {
    /* display: none; */
    position: fixed; /* Stay in place */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%;
    background-color: var(--colour-bg);
    animation: closeModal 4.3s ease-in 1;
    opacity: 0;
}

.modal.typed-slow {
    animation: closeModal 5.1s ease-in 1;
}

@keyframes closeModal {
    0% {opacity: 1;}
    90% {opacity:1; display: flex;}
    100% {opacity:0; display: none;}
}


/* OPENING SEQUENCE */
.pointer-container:hover > .pointers {
    visibility: visible;
}

.pointer-container > .pointers {
    visibility: hidden;
}

.wrap {
    border-right: 0.08em solid #fff; 
    animation: caret 1s steps(1) infinite;
    width:max-content;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}




/*MEDIA QUERIES*/
@media (max-width: 1200px) {
    .flex-row.wide {
        flex-wrap: wrap;
    }

    .wide-img-div {
        max-width: 800px;
        /*margin: 0 auto 0 auto;*/
    }
}


@media (max-width: 1000px) {
    .flex-row.portrait {
        flex-wrap: wrap;
    }

    .img-div {
        max-width: 750px;
        /*margin: 0 auto 0 auto;*/
    }

    ol {
        -webkit-column-count: 1;
        column-count: 1;
    }

    .flex-row.two-columns {
        flex-direction: column;
    }

    .two-columns > * {
        max-width: 100%;
    }

}

@media (max-width:900px) {
    .icon-folder {
    width: 90px;
    }

    .icon-file {
    width: 85px;
    }
}

@media (max-width:800px) {
    .icon-folder {
    width: 82px;
    }
    
    .icon-file {
    width: 78px;
    }
}

@media (max-width:700px) {
    .icon-folder {
    width: 75px;
}
    .icon-file {
    width: 72px;
    }
}

@media (max-width:600px) {
    .icon-folder {
    width: 70px;
}
    .icon-file {
    width: 68px;
    }
}


@media (max-width: 568px) {
    .icon-folder {
    width: 65px;
    }

    .icon-file {
    width: 65px;
    }

    .home.space-between {
        justify-content: left;
    }

    .row.flex-row {
        flex-direction: column;
    }

    .home.flex-row {
        margin-left: var(--spacing-xxl);
    }

    .mobile-column.flex-column {
        flex-direction: row;
        gap: var(--spacing-sm);
        margin-left: 0;
    }

    .icon-container > .icon-label {
        visibility: visible;
    }

    .align-centre.mobile-align-centre-vertical{
        margin: auto 0 auto 0;
    }

    .demo.margin-left-xxl {
        margin-left: 0;
    }

    .icon-arrow.no-display {
        display: flex;
    }

    .align-centre-vertical.no-display {
        display: flex;
    }

    .full-screen.margin-sides-xxl {
        margin-left: var(--spacing-lg);
        margin-right: var(--spacing-lg);
    }
}

@media (max-width: 400px) {
    .full-screen.margin-sides-xxl {
        margin-left: var(--spacing-sm);
        margin-right: var(--spacing-sm);
    }
}