:root {
    /*SPACING*/
   --spacing-base-size: 1em;
   --spacing-scale-ratio: 1.5;

   --spacing-xs: calc((var(--spacing-base-size)/var(--spacing-scale-ratio)));
   --spacing-sm: var(--spacing-base-size);
   --spacing-md: calc(var(--spacing-base-size) * var(--spacing-scale-ratio));
   --spacing-lg: calc(var(--spacing-base-size)* var(--spacing-scale-ratio) * var(--spacing-scale-ratio));
   --spacing-xl: calc(var(--spacing-base-size) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio));
   --spacing-xxl: calc(var(--spacing-base-size) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio));
   --spacing-xxxl: calc(var(--spacing-base-size) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio));
   --spacing-xxxxl: calc(var(--spacing-base-size) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio));
   --spacing-xxxxxl: calc(var(--spacing-base-size) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio));
   --spacing-xxxxxxl: calc(var(--spacing-base-size) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio) * var(--spacing-scale-ratio));

   /*COLOURS*/
   --colour-callout: #F8F8F7;
   --colour-bg: #212121;
   --colour-text: #FFFFFF;
}




/*FONT*/
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nYivNm4I81PZQ.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
/* cyrillic */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nRivNm4I81PZQ.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
  /* greek */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nWivNm4I81PZQ.woff2) format('woff2');
    unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
  /* latin-ext */
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nbivNm4I81PZQ.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
  
@font-face {
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK3nVivNm4I81.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}




/*SET UP*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 10px;
    line-height: 1.5rem;

    font-family: "Press Start 2P";
    letter-spacing: 0.1em;

    background-color: var(--colour-bg);
    color:var(--colour-text);
    
    /*Makes foot rendering more similar to Figma display*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}




/*LAYOUT*/
.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-row > * {
    margin-right: 1em;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap > div {
    min-width: 30%;
}


/*Flex Spacing*/
.space-between {
    justify-content: space-between;
}


/*Align*/
.align-right {
    float: right;
}




/*MARGINS*/
/* Sidex: margin left and right*/
.margin-sides-sm {
    margin: 0 var(--spacing-xs) 0 var(--spacing-xs);
}  

.margin-sides-sm {
    margin: 0 var(--spacing-sm) 0 var(--spacing-sm);
} 

.margin-sides-md {
    margin: 0 var(--spacing-md) 0 var(--spacing-md);
} 

.margin-sides-lg {
    margin: 0 var(--spacing-lg) 0 var(--spacing-lg);
} 

.margin-sides-xl {
    margin: 0 var(--spacing-xl) 0 var(--spacing-xl);
}

.margin-sides-xxl {
    margin: 0 var(--spacing-xxl) 0 var(--spacing-xxl);
}

.margin-sides-xxxl {
    margin: 0 var(--spacing-xxxl) 0 var(--spacing-xxxl);
}


/* Top*/
.margin-top-sm {
    margin-top: var(--spacing-sm);
}

.margin-top-xxl {
    margin-top: var(--spacing-xxl);
}

/* Bottom */
.margin-bottom-lg {
    margin-bottom: var(--spacing-lg);
}

.margin-bottom-xl {
    margin-bottom: var(--spacing-xl);
}

.margin-bottom-xxl {
    margin-bottom: var(--spacing-xxl);
}

/*left*/
.margin-left-xxl {
    margin-left: var(--spacing-xxl);
}




/*PADDING*/
/* Sides: padding left and right*/
.padding-sides-sm {
    padding: 0 var(--spacing-xs) 0 var(--spacing-xs);
}  

.padding-sides-sm {
    padding: 0 var(--spacing-sm) 0 var(--spacing-sm);
} 

.padding-sides-md {
    padding: 0 var(--spacing-md) 0 var(--spacing-md);
} 

.padding-sides-lg {
    padding: 0 var(--spacing-lg) 0 var(--spacing-lg);
} 

.padding-sides-xl {
    padding: 0 var(--spacing-xl) 0 var(--spacing-xl);
}

/* All sides */
.padding-sm {
    padding: var(--spacing-xs);
}  

.padding-sm {
    padding: var(--spacing-sm);
} 

.padding-md {
    padding: var(--spacing-md);
} 

.padding-lg {
    padding: var(--spacing-lg);
} 

.padding-xl {
    padding: var(--spacing-xl);
}





/*GAPS*/
.gap-xs {
    gap:var(--spacing-xs);
}

.gap-sm {
    gap:var(--spacing-sm);
}

.gap-md {
    gap:var(--spacing-md);
}

.gap-lg {
    gap:var(--spacing-lg);
}

.gap-xl {
    gap:var(--spacing-xl);
}

.gap-xxl {
    gap:var(--spacing-xxl);
}

.gap-xxxl {
    gap:var(--spacing-xxxl);
}




/*IMAGES*/
.standard-img {
    width: auto;
    max-width: 70vw;
    min-width: 20vw;

    max-height: 20vh;
    object-fit: scale-down;
}

.scale-img {
    width: auto;
    max-width: 30vw;
    min-width: 20vw;
    object-fit: scale-down;
}




/*HTML TAGS*/
li{
    margin-left:var(--spacing-md);
}

a {
    color: var(--colour-text);
    text-decoration-line: none;
}

a:hover {
    text-decoration: underline;
}

iframe {
    border: none;
    padding: 0;

    display: block;
    overflow: hidden;
}




/* CUSTOM COMPONENTS */
.gallery {
    justify-content: space-around;

    margin: 1em 0 1em 0;
    overflow-x: scroll;
}
.gallery > div {
    min-width: 10vw;
    height:auto;
    border-radius: 0.25em;
    padding: 2em 3em 2em 3em;
    margin: 0 2em 0 0;

    background-image: url("images/week1Tags.HEIC");
    background-size: 100% 100%;
}
.gallery > div > h2 {
    text-align: center;
    color: white;
}




/* CUSTOM LAYOUTS */
.full-screen {
    min-height: 100vh;
    max-height: 100vh;
}





/* HOME PAGE */
.slide {
    display: none;
    border: 1px solid white;
}

.demo {
    width: 8vw;
}

.row {
    width: 100%;
    overflow-x: scroll;
}

.row::-webkit-scrollbar {
    display: none;
}





/* WEEK PAGE */
.titles {
    width: fit-content;
    height: fit-content;
    padding: 0.3em 1em 0.3em 1em;

    border: 1px solid white;
    border-bottom: 0;
    border-radius: 0.5em 0.5em 0 0;

    text-decoration: underline;
    cursor: grab;
}

.tab {
    padding: 1em 0 0 0;
    border-bottom: 1px solid whitesmoke;
}

.content {
    display: none;
    padding: 1em 0.5em 1em 0.5em;
}

.icon-open {
    width: 8vw;
    min-width: 70px;
}